@import url(login.css);


#img-cadastro{
    border-radius: 0 10px 10px 0;
}


.area-senha {
    display: flex;
    gap: 20px;
    width: 434px;
}

.campo-senha{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.campo-senha input{
    width: 100%;
}

#email{
    margin-bottom: 0px;
}

#link-ja-conta{
    text-align: center;
}


.msg{
    margin-bottom: 0;
    text-align: center;
    font-size: 18px;
}

.sucesso{
    color: green;
}

.erro{
    color:red
}

.escondido{
    display: none;
}


.titulo-cadastro{
    margin-bottom: 40px;
}