*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
}

main{
    margin: 20px auto;
    width: 75vw;
    text-align: center;
    padding-bottom: 200px;

}

h2{
    background-color: #B8D8F5;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 400;
    margin: 20px;
    padding: 3px;
}

input{
    margin-bottom: 10px;
}

#caixa{
    width: 300px;
    height: 100px;
    background-color: #f9ffa6;
    box-shadow: 0 0 20px #e9f35e;
    margin: 20px auto;
}

.btn{
    padding: 5px 10px;
    margin-right: 10px;
 }

 .area_add_sub{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    font-size: 22px;
}

.area_add_sub button{
    padding: 5px 10px;
    background-color: #f9ffa6;
    border: 1px solid #FBFFC0;
    color: #000;
    border-radius: 5px;
}

.area_add_sub button:hover{
    background-color: #d1d68b;
}

ul{
    width: 400px;
    margin: 0 auto;
}

li{
    list-style: none;
    background-color: #d1d68b;
    padding: 0 100px;
    border-radius: 5px;
    margin-bottom: 5px;
}